<nav class="navbar navbar-default testnav" style="margin-top:16px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="javascript:void(0);">WebSiteName</a>
    </div>
    <div class="center-nav">
      <ul class="nav navbar-nav">
        <li class="active"><a href="javascript:void(0);">Home</a></li>
        <li><a routerLink="list">List</a></li>
        <li><a routerLink="createNew">New Enquiry</a></li>
       
      </ul>
    </div>
  </div>
</nav>
<router-outlet/>
